<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    <context:property-placeholder location="classpath:sports.properties"/>

    <!-- Define your beans here -->
    
    <bean id="myFortune" class="com.nilesh.impl.FortuneServiceImpl"/>
    
    <bean id="myCoach" class="com.nilesh.impl.BaseBall" scope="singleton" init-method="startYourProgramm" destroy-method="programIsClosed">
    
    	<property name="fortuneService" ref="myFortune"/>
    	<property name="emailId" value="${foo.emailId}"/>
    	<property name="score" value="${foo.score}"/>
    
    </bean>
    
</beans>





